<app-header></app-header>
<div class="container">
  <div class="content-box pad25A">
    <h3>Bulk Orders</h3>
    <div class="table-responsive">
      <table class="table table-striped table-bordered" id="ordersTable" [mfData]="orders" #mf="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th width=""><mfDefaultSorter by="bulkOrderId">Bulk Order #</mfDefaultSorter></th>
            <th width="">Order Number</th>
            <th width="">PO Date</th>
            <th width="">Cancel Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let order of mf.data; let i = index;  ">
            <td><a [routerLink]="['/order', order.bulkOrderId]">{{order.bulkOrderId}}</a></td>
            <td>{{order.order_number}}</td>
            <td>{{order.po_date | date: format}}</td>
            <td>{{order.cancel_date | date: format}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
              <td colspan="4" style="text-align: right;">
                <!-- demo found here https://www.npmjs.com/package/angular2-datatable -->
                  <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
