<app-header></app-header>

<div class="container">
	<div *ngIf="isLoading" class="text-center">
		<p>Getting data, please wait ..</p>
		<img width="50px" src="../../../assets/images/ring.gif">
	</div>
	<div *ngIf="!isLoading">
		<div class="content-box pad25A">
			<div class="row">
				<div class="col-md-9 float-left text-left">
					<h2 class="invoice-client mrg10T">Billing Information:</h2>
					<h5>{{orderDetails.billing_contact.address.name}}</h5>
					<address class="invoice-address">
						{{orderDetails.billing_contact.address.address1}} {{orderDetails.billing_contact.address.address2}}
						<br />
						
						<span *ngIf="orderDetails.billing_contact.address.city">{{orderDetails.billing_contact.address.city}},</span> {{orderDetails.billing_contact.address.state}} {{orderDetails.billing_contact.address.country_code}} {{orderDetails.billing_contact.address.country}}
						<br />
						<span *ngIf="orderDetails.billing_contact.phone_number">{{orderDetails.billing_contact.phone_number}} | </span>  <span>{{orderDetails.billing_contact.email_address}}</span>
					</address>
					
				</div>
				<div class="col-md-3 float-right text-right">
					<div class="order-numbers">
						<h4>Bulk Order</h4>
						No. <b>#{{orderId}} </b> <br />
						Ordered at: {{orderDetails.po_date | date: format}}
					</div>
				</div>
			</div>
			
			<div class="divider"></div>
			<div class="row">
				<div class="col-md-4">
					<h2 class="invoice-client mrg10T">Shipping Information:</h2>
					<h5>{{orderDetails.ship_contact.address.name}}</h5>

					<address class="invoice-address">
						{{orderDetails.ship_contact.address.address1}} {{orderDetails.ship_contact.address.address2}}
						<br>
						{{orderDetails.ship_contact.address.city}}, {{orderDetails.ship_contact.address.state}} {{orderDetails.ship_contact.address.country_code}} {{orderDetails.ship_contact.address.country}}
						<br>
						<span *ngIf="orderDetails.ship_contact.phone_number">{{orderDetails.ship_contact.phone_number}} | </span>  <span>{{orderDetails.ship_contact.email_address}}</span>
					</address>
				</div>
				<div class="col-md-4">
					<h2 class="invoice-client mrg10T">Order Info:</h2>
					<ul class="reset-ul">
						<li><b>Date:</b> {{orderDetails.po_date | date: format}}</li>
						<li><b>Status:</b> <span class="bs-label label-warning">{{orderDetails.status}}</span></li>
						<li><b>Id:</b> #{{orderDetails.order_number}}</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h2 class="invoice-client mrg10T">Order Details:</h2>
					<p>{{orderDetails.message}}</p>
					Click <a target="_blank" href="{{orderDetails.rawFile}}">here</a> to download the raw file
				</div>
			</div>

			<hr />

			<!-- <div class="panel-group">
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a data-toggle="collapse" href="#collapseOrderPricing">Other Details</a>
		                </h4>
		            </div>
		            <div id="collapseOrderPricing" class="panel-collapse collapse in">
		                <div class="panel-body">
		                    <div class="row">
		                        <div class="col-xs-2"><label class="control-label">Message</label></div>
		                        <div class="col-xs-10"><p class="form-control-static">{{orderDetails.message}}</p>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-xs-2"><label class="control-label">Currency</label></div>
		                        <div class="col-xs-10"><p class="form-control-static">{{orderDetails.currency}}</p>
		                        </div>
		                    </div>
		                    <div class="row">
		                        <div class="col-xs-2"><label class="control-label">Raw File</label></div>
		                        <div class="col-xs-10"><p class="form-control-static"><a target="_blank" href="{{orderDetails.rawFile}}">Click to download</a></p></div>
		                    </div>
		                    <div class="row">
		                        <div class="col-xs-2"><label class="control-label">Line Orders</label></div>
		                        <div class="col-xs-10"><label>{{orderDetails.line_orders?.length}}</label></div>
		                    </div>
		                    <div class="row">
		                        <div class="col-xs-2"><label class="control-label">Status</label></div>
		                        <div class="col-xs-10"><p class="form-control-static">{{orderDetails.status}}</p></div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div> -->

		    <h3>Line Orders</h3>

		    <div class="table-responsive">
		    	<form #f="ngForm" (ngSubmit)="markAsShipped(f.value)">
			    	<table class="table table-hover table-bordered">
			    		<thead>
			    			<tr>
			    				<th><input [checked]="isAllChecked()" (change)="checkAll($event)" type="checkbox"></th>
			    				<th>upc_code</th>
				    			<th>uom</th>
				    			<th>sku</th>
				    			<th>unit_price</th>
				    			<th>quantity_ordered</th>
				    			<th>quantity_shipped</th>
			    			</tr>
			    		</thead>
			    		<tbody>
			    			<tr *ngFor=" let lineOrder of orderDetails.line_orders; let j = index; ">
			    				<td><input *ngIf=" lineOrder.quantity_ordered - lineOrder.quantity_shipped > 0 " [(ngModel)]="lineOrder.state" type="checkbox" class="multiple-checkboxes" name="{{lineOrder.po_line_num}}"></td>
			    				<td>{{lineOrder.upc_code}}</td>
			    				<td>{{lineOrder.uom}}</td>
			    				<td>{{lineOrder.sku}}</td>
			    				<td>{{lineOrder.unit_price}} {{orderDetails.currency}}</td>
			    				<td>{{lineOrder.quantity_ordered}}</td>
			    				<td>{{lineOrder.quantity_shipped}}</td>

			    			</tr>
			    		</tbody>
			    	</table>
					<button class="btn btn-default " type="submit">Mark as shipped</button>
					<span *ngIf="!beforeDialogAlert" class="bs-label alert-danger">
					    Please select line order(s)
					</span>
				</form>
		    </div>
	    </div>

	</div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
    	<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header navbar-inverse">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Please fill up shipping details</h4>
			</div>
			<form #mF="ngForm" (ngSubmit)="markShipped(mF.value)">
				<div class="modal-body">
					<div *ngFor=" let line_orders of line_orders_to_ship; let k = index; " class="row line-orders-modal" #divLoop>
						<div class="col-md-12"><h3 class="invoice-client mrg10T">Set values for line order #{{line_orders.line_id}}</h3></div>
						<div class="col-md-3">
							<label for="">Quantity Shipped</label>
							<input required type="number" name="quantity_shipped{{line_orders.line_id}}" ngModel min="0" class="form-control">
						</div>
						<div class="col-md-5">
							<label for="">Shipped by (e.g., FEDEX)</label>
							<input required ngModel class="form-control" type="text" name="shipped_by{{line_orders.line_id}}">
						</div>
						<div class="col-md-4">
							<label for="">Shipped On (yyyy-mm-dd)</label>
							<!-- to let bootstrap detepicker working, will need to locally bind datePicker value to ngModel on blur  -->
							<input required type='text' class="form-control datetimepicker" ngModel="{{ date | date: 'yyyy-MM-dd' }}" name="shipped_on{{line_orders.line_id}}">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save Changes</button>
				</div>
			</form>
		</div>
      
    </div>
</div>