/* You can add global styles to this file, and also import other style files */
body {
	padding-top: 70px;
	padding-bottom: 20px;
	/* background-color: #F4F5F7; */
}

.pagination {
	margin:0 !important;
}

.divider, .nav-divider, .timeline-horizontal.timeline-box:before {
    background: #fff;
}

.divider {
    overflow: hidden;
    height: 1px;
    margin: 10px 0;
    padding: 0;
}